.main-auth-page{
    display: flex;
    flex-direction: column;
}

.login-page{
  background-color:var(--background-color);
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card{
    margin-top:7rem;
    margin-bottom: 2rem;
    width:70%;
    max-width:300px;
    background-color: var(--image-background-color);
    padding:2rem 1rem;
    border-radius: 4px;
    height: fit-content; 
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%);
    font-size:1rem;
}

.auth-heading{
    text-align: center;
    font-size: 1.75rem;
    color:var(--primary-color);
    margin-bottom: 1.5rem;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input{
    padding:4px 8px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    font-size: 1.10rem;
    color: var(--foreground-color);
}

.input-label{
    font-size: 1.25rem;
}

.checkbox-input-label{
    display: flex;
}

input{
    color:#3B3C36;
    background-color: var(--background-color);
}

input[type=checkbox]{
    accent-color: var(--primary-color);
}

.input-checkbox{
    height: 1rem;
    width: 1rem;
    margin-right:0.4rem;
}

.link-forgot-password{
    text-decoration: none;
    color:var(--color-primary);
    font-size:0.75rem
}

.password-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-btns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-btn{
    padding: 4px;
    width:90%;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    margin: 0rem auto;
    display:flex;
    justify-content: center;
}

.auth-btn:hover{
    cursor: pointer;
    background-color:var(--primary-ascent);
}

.login{
    background-color: var(--image-background-color);
    border: 1px solid var(--primary-color);
}

.guest-login-btn,.signup{
    background-color: var(--primary-color);
}

.auth-control-btn{
    display: flex;
    font-size: 1rem;
    background: none;
    border:none;
    cursor: pointer;
    color:var(--primary-color);
    justify-content: center;
}

.auth-control-btn:hover{
    color: var(--primary-ascent);
}

.auth-controls{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.flex-col-login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-center-login{
    flex-direction: row;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left{
    display: flex;
    justify-content: flex-start;
}

.control-icon{
    font-size: 1rem;
    margin-left:4px;
}

Link{
    text-decoration: none;
}
