.question-area{
    box-sizing: border-box;
    width: 70%;
    height:auto;
    margin:1.5rem auto;
    margin-top: 7rem;
    padding: 2rem;
    gap:1.5rem;
    background-color:var(--image-background-color);
    border-radius:1rem;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%);
}

.question{
    font-size: 1.5rem;
}

.question-section{
    width:95%;
    gap: 1rem;
    margin: 0rem auto;
}

.quiz-title{
    margin: 0.5rem auto;
    text-align: center;
    font-size: 1.75rem;
    color:var(--primary-color);
}

.options{
    gap:12px;
}

ul{
    padding-inline-start: 00px;
}

.option-button{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--image-background-color);
    cursor: pointer;
    width:95%;
    list-style-type:none;
    display: flex;
    justify-content: flex-start;
}

.option-button:hover{
    background-color: var(--primary-ascent);
}

.active-option-button{
    background-color: var(--primary-ascent); 
}

.space-btwn{
    justify-content: space-between;
}

.controls{
    display: flex;
    justify-content:space-between;
    padding: 0 1rem;
    align-items: center;
}

.control-btn{
    font-size: 1rem;
    background: none;
    border:1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    color: var(--primary-color);
}

.control-btn:hover{
    background-color: var(--primary-ascent);
    color: var(--background-color);
}

.timer{
    gap:0.5rem;
    
}

.timer-icon{
    font-size: 1.25rem;
}

.error-msg{
    padding: 0.5rem 1rem;
    width: 70%;
    background-color: rgb(253, 74, 98);
    border: 1px solid rgb(228, 90, 108);;

}












