.rule-page{
    position: relative;
    height:350px;
    margin:4rem auto;
    margin-top:8rem;
    width: 40%;
    padding: 1.5rem;
    border-radius:10px;
    background-color:var(--image-background-color);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.rule-heading{
    padding: 1.5rem;
    text-align: center;
}

.rules{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.25rem;
}

.play-btn{
    padding: 10px;
    width:90%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    margin: 1rem auto;
    margin-top:3rem;
    display:flex;
    justify-content: center;
    font-weight:bold;
}

.play-btn:hover{
    cursor: pointer;
    background-color:var(--primary-ascent);
}

body{
    background-color:var(--background-color);
}