
[theme-attribute="light"]{
  --primary-color:#4d8d8d;
  --foreground-color:#141616;
  --background-color:#f9fcfc;
  --image-background-color:#ffffff;
  --primary-ascent:#49a8a8;;

}

[theme-attribute="dark"]{
  --primary-ascent:#04e9e9;
  --primary-color:#13fafa;
  --foreground-color:#ffffff;
  --background-color:#141616;
  --image-background-color:#343636;
}