
[theme-attribute="light"]{
  --primary-color:#89b8b8;
  --foreground-color:#141616;
  --background-color:#fcf8f8;
  --image-background-color:#ffffff;
  --primary-ascent:#5bb8b8;

}

[theme-attribute="dark"]{
  --primary-ascent:#04e9e9;
  --primary-color:#13fafa;
  --foreground-color:#ffffff;
  --background-color:#141616;
  --image-background-color:#2c2e2e;
}